:root {
  --bg-main: #fff;
  --bg-main-color: #000;

  --body-bg: #eee;
  --body-bg-color: #000;
}

[data-bs-theme="dark"] {
  --bg-main: #1e1e1e;
  --bg-main-color: #fff;
  
  
  --body-bg: #121212;
  --body-bg-color: #fff;
  
  --bs-body-bg: #1e1e1e;
  --bs-body-bg-rgb: 30, 30, 30;
  .btn-dark {
    --bs-btn-bg: #121212;
  }
}
