:root {
  --bg-main: #fff;
  --bg-main-color: #000;

  --body-bg: #eee;
  --body-bg-color: #000;
}

[data-bs-theme="dark"] {
  --bg-main: #1e1e1e;
  --bg-main-color: #fff;
  
  --body-bg: #121212;
  --body-bg-color: #fff;
}
