@import "../../modules/bootstrap/scss/functions";
@import "../../modules/bootstrap/scss/variables";
@import "../../modules/bootstrap/scss/mixins";

@import "scrolbar";
@import "vue";
@import "vars";

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--body-bg);
  color: var(--body-bg-color);
}

.box {
  border-radius: $border-radius-lg;
  padding: map-get($spacers, 3);
}

.bg-main {
  background-color: var(--bg-main);
  color: var(--bg-main-color);
  overflow: auto;
}

.icon {
  border-radius: $border-radius;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  text-align: center;
  font-size: 1em;

  @each $name, $color in $theme-colors {
    &-bg-#{$name} {
      background-color: rgba($color, 25%);
      color: $color;
    }
  }
}

.c-sidebar {
  li {
    cursor: pointer;
    i {
      transition: all 0.2s ease;
      @extend .icon-bg-dark;
    }

    &.active,
    &:hover {
      i {
        @extend .icon-bg-light;
        color: #000;
      }
    }
  }
}

.dropdown-menu-custom {
  padding: map-get($spacers, 2);
  .dropdown-item {
    border-radius: $border-radius;
  }
}

#loadingSpinner {
  position: fixed;
  bottom: 0;
  margin: map-get($spacers, 3);
  background-color: var(--body-bg);
  z-index: 1051; // Higher than Bootstrap Modal
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .box;
}

.modal-open {
  #loadingSpinner {
    color: #fff;
  }
}

.text-multi-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  @each $line in (1, 2, 3, 4, 5, 6) {
    &-#{$line} {
      -webkit-line-clamp: $line;
    }
  }
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}
